@model IEnumerable<PainelCipa.Models.Vote>

@{
    ViewData["Title"] = "VOTOS";
}

@{

    List<Candidate> candidates = new List<Candidate>();
    foreach (var item in Model)
    {
        candidates.Add(item.Candidate);

    }
    ICollection<Candidate> names = new HashSet<Candidate>(candidates);
}

<div class="page-header" style="border-bottom: 1px solid #eee">
    <h1>Contagem de votos</h1>
</div>

<table class="table table-hover table-striped table-bordered" data-toggle="table" data-search="true" data-sortable="true" data-pagination="true">
    <thead>
        <tr>
            <th data-sortable="true">
                Ano
            </th>
            <th data-sortable="true">
                Candidato
            </th>
            <th data-sortable="true">
                Votos
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in names)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Election.Year)
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @Model.Where(s => s != null && s.Candidate.Id.Equals(item.Id)).Count()
                </td>
            </tr>
        }

    </tbody>
</table>
<div class="page-header" style="border-bottom: 1px solid #eee">
    <h1>Exportar dados</h1>
</div>


@using (Html.BeginForm("Export", "Votes", FormMethod.Post))
{
    <div class="form-group">
        <select class="form-control" name="electionYear" asp-items="ViewBag.Election"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Exportar" class="btn btn-default" />
    </div>
}






@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
}