@model IEnumerable<PainelCipa.Models.Election>

@{
    ViewData["Title"] = "HOME";
}

@{
    List<int> elections = new List<int>();
    List<int> candidates = new List<int>();
    List<int> activeElections = new List<int>();

    foreach (var item in Model)
    {
        elections.Add(item.Year);
        candidates.Add(item.Candidates.Count);
        if (item.HasStarted == true && item.HasFinished == false)
        {
            activeElections.Add(item.Id);
        }
    }
}

<div class="page-header" style="border-bottom: 1px solid #eee">
    <h1>Bem vindo! <br /> <small>Painel de gerenciamento de eleições CIPA.</small></h1>
</div>

<div class="container">
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-2">
            <div class="panel panel-default">
                <div class="panel-heading">Votações Ativas</div>
                <div class="panel-body" style="text-align:center;">
                    <h1>@activeElections.Count()</h1>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Candidatos</div>
                <div class="panel-body">
                    <canvas id="CandidatesByVoting" style="height:40px;"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        //var electionArray = @Html.Raw(Json.Serialize(elections));
        var elections = @Html.Raw(Json.Serialize(elections).ToString());
        var candidates = @Html.Raw(Json.Serialize(candidates));

        console.log(elections, candidates);

        var canvas = document.getElementById("CandidatesByVoting");
        var chart = new Chart(canvas, {
            type: 'bar',
            data: {
                labels: elections,
                datasets: [{
                    label: 'Candidatos por votação',
                    data: candidates
                }]
            }
        });
    </script>


}